<!DOCTYPE html>
<html>
  <head>
    <title>Sakura</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="container mx-auto px-5 flex flex-col">
    <div class="flex justify-between">
      <div class="main-logo">Sakura</div>

      <div>
        <% if user_signed_in? %>
          <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to "Sign in", new_user_session_path %>
        <% end %>
      </div>
    </div>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
